# -----------------------------------------------------------------------------
# OS- / Editor-Specific Ignored Files
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# -----------------------------------------------------------------------------
# Compiled Python Files / Caches
# -----------------------------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.egg

# -----------------------------------------------------------------------------
# Python Virtual Environments
# -----------------------------------------------------------------------------
venv/
.venv/
ENV/
env/
bin/
Scripts/

# -----------------------------------------------------------------------------
# Fish User-Specific Data
# -----------------------------------------------------------------------------
fish/fish_variables

node_modules/
dist/

